<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.axcess.axcessaiqrscanner"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />



    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Axcess AI"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.axcess.axcessaiqrscanner.MainActivity"  android:exported="true">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.axcess.axcessaiqrscanner.Scanqr" />
        <activity android:name="com.axcess.axcessaiqrscanner.doScan" />

        <!--<meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />-->
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr" />

        <activity android:name="com.axcess.axcessaiqrscanner.scan_success"></activity>
        <activity android:name="com.axcess.axcessaiqrscanner.ManualScanActivity"></activity>
        <activity android:name="com.axcess.axcessaiqrscanner.OptionActivity"></activity>
        <activity android:name="com.axcess.axcessaiqrscanner.OcrCaptureActivity"></activity>
    </application>

</manifest>